.Rproj.user
.Rhistory
.RData
.Ruserdata
Presentation.tex
Presentation.log
test.pdf
test.Rmd
[.aux
[.aux
*.aux
Example.html
Example.Rmd
Paper/LaTeX_style_case_studies.dvi
Paper/LaTeX_style_case_studies.log
Paper/LaTeX_style_case_studies.out
Paper/LaTeX_style_case_studies.pdf
Paper/LaTeX_style_case_studies.synctex.gz
Paper/LaTeX_style_case_studies.tex
Paper/LaTeX_style_case_studies.toc
rmd_example.html
rmd_example.Rmd
test.html
